<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
              <configuration name="Foundation.SharedContent" description="Styleguide.XA.Foundation.SharedContent" dependencies="Foundation.Serialization" extends="Helix.Base">

                <predicate>
                  <!-- Templates -->
                  <include name="SharedContent.Templates" database="master" path="/sitecore/templates/Foundation/Shared Content" />
                </predicate>
                
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
