<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
              <configuration name="Feature.SimpleComponent" description="SDK Example for a simple component" dependencies="Foundation.SDK">
                <predicate>
                  <include name="SimpleComponent.Templates" database="master" path="/sitecore/templates/$(layer)/SDK/$(module)" />
                  <include name="SimpleComponent.Templates.Branches" database="master" path="/sitecore/templates/Branches/$(layer)/SDK/$(module)" />
                  <include name="SimpleComponent.System.Settings" database="master" path="/sitecore/system/Settings/$(layer)/SDK/$(module)" />
                  <include name="SimpleComponent.Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/SDK/$(module)" />
                  <include name="SimpleComponent.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/$(layer)/SDK/$(module)" />
                  <include name="SimpleComponent.Layouts" database="master" path="/sitecore/layout/Layouts/$(layer)/SDK/$(module)" />
                </predicate>
                <syncConfiguration updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="16" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
              </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
