<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.SDK" description="Root items for SDK features and customizations." extends="Helix.Base" patch:after="configuration[@name='Foundation.Serialization']">
          <predicate>
            
            <include name="SDK.Templates" database="master" path="/sitecore/templates/Feature/$(module)">
              <exclude children="true" />
            </include>

            <include name="SDK.Templates.Branches" database="master" path="/sitecore/templates/Branches/Feature/$(module)">
              <exclude children="true" />
            </include>
            
            <include name="SDK.System.Settings" database="master" path="/sitecore/system/Settings/Feature/$(module)">
              <exclude children="true" />
            </include>
            
            <include name="SDK.Renderings" database="master" path="/sitecore/layout/renderings/Feature/$(module)">
              <exclude children="true" />
            </include>
            
            <include name="SDK.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/$(module)">
              <exclude children="true" />
            </include>
            
            <include name="SDK.Layouts" database="master" path="/sitecore/layout/Layouts/Feature/$(module)">
              <exclude children="true" />
            </include>
            
          </predicate>
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="16" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>