<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
              <configuration name="Project.SharedContent" description="Styleguide.XA.Project.SharedContent" dependencies="Foundation.SharedContent" extends="Helix.Base">

                <predicate>
                  <!-- Settings -->
                  <include name="SharedContent.Settings" database="master" path="/sitecore/content/Sitecore/Styleguide/Settings/Datasource Configurations" />
                  <!-- Content -->
                  <include name="SharedContent.Content" database="master" path="/sitecore/content/Shared Content" />
                </predicate>
                
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
